<h1>〇〇さんの質問</h1>

<p> 教科名：　<%= @question.que_class %> </p>
<strong> <%= @question.que_title %> </strong>
<p> 内容<%= @question.message %> </p>


<%= link_to 'ホームへ', root_path %>
<%= link_to '回答する！', new_answer_path %>