<DOCTYPE html>
<body>
 
</body>

<%= stylesheet_link_tag 'test', :media => "all" %>
   
<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
<h1 class="title">学生広場</h1>

<% if current_user %>
    <% now_user=User.find_by(id: current_user.id)  %>
    <% @questions.each do |question| %>
    <p class="lookedit">  <%= question.que_class %>&nbsp;&nbsp;&nbsp;
        <%= question.que_title %>
        <%= link_to '見る', "/questions/#{question.id}" %>
        <% if now_user.id == question.user_id %>
            <%= link_to '編集', "/questions/#{question.id}/edit" %>
        <% end %>
    </p>
    <br>
    <% end %>
<% end %>

<p class="question"><%= link_to '質問投稿', '/questions/new' %></p><br>
<p class="new"><%= link_to 'ユーザー新規追加', '/users/new' %></p><br>

<% if session[:login_uid] %> 
        <p class="logout"><%= link_to 'ログアウト', '/users/logout' %></p>
    <% else %>
        <p class="login"><%= link_to 'ログイン', '/users/login_go' %></p>
<% end %>

</DOCTYPE>

