<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
<h1>学生広場</h1>

<% @questions.each do |question| %>
<p> <%= question.que_class %>
    <%= link_to '見る', "/questions/#{question.id}" %>
    <!--質問したユーザ＝今のユーザなら表示↓-->
    <%= link_to '編集', "/questions/#{question.id}/edit" %>
</p>
<% end %>

<p><%= link_to '質問投稿', '/questions/new' %></p>
<p><%= link_to 'ユーザー新規追加', '/users/new' %></p>
<p><%= link_to 'ログイン', 'login/index' %></p>