
<%= link_to 'ホームへ', root_path %>

<h1>質問内容</h1>

<p class="ques"> <%= @question.que_class %> </p>
<strong class="ques"> <%= @question.que_title %> </strong>
<p class="ques"> <%= @question.message %> </p>


<% @answers.each do |ans| %>
    <% use=User.find_by(id: ans.user_id)  %>
        <h1 class="ansr"><%= use.uid %>さんの回答</h1>
        <p class="ansr"> <%= ans.ans_message %> </p>
<% end %>

<%= link_to 'ホームへ', root_path %>