<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag 'test', :media => "all" %>
  <head>
    <title>Gakuseihiroba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p>
    <% if session[:login_uid] %>
      <font size="6">ログイン中（<%= session[:login_uid] %>さん）</font>
    <% else %>
      <font size="6">ログインしていません</font>
    <% end %>
    </p>
  </body>
</html>
